* {
    margin: 0;
    padding: 0;
}

.naviga {
    display: flex;
    padding: 14px 30px;
    margin-left: 123px;
}

.item-1 {
    /* margin-right: 250px; */
    position: relative;
    right: 28px;
    bottom: 5px;
}

.gap {
    width: 358px;
    cursor: default;
}

.item {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-weight: 100; */
    padding: 25px;
    cursor: pointer;
    padding-bottom: 0px;

}

.item-7 {
    position: relative;
    right: 28px;

}

.logo {
    position: relative;
    top: 10px;
}

.containt {
    display: grid;
    grid-template-areas: "Eng Detu itali" "esp fran port" "japa korea chine" "trad none none";
    justify-items: center;
    /* margin: 20px; */
}

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-family: sans-serif;
    font-size: 24px;
    margin: 77px;
}

.first .sec {
    font-size: 49px;
}

.first div {
    margin: 33px 0px 33px 0px;
    /* border: 2px solid black; */
    text-align: center;
}

.sec img {
    width: 117px;
    margin-left: 14px;
}

button {
    background-color: #00b6d1;
    padding: 17px;
    border: none;
    border-radius: 7px;
    color: aliceblue;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
}

.first .second {
    position: relative;
    right: 240px;
    padding: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.second img {
    width: 35vw;

}
.grid {
    position: relative;
    bottom: 6vh;
    display: flex;
    justify-content: center;
}

.box .box-1 {
    padding-bottom: 45px;
    font-weight: 700;
    font-size: 22px;
}

.box .box-2 {
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 7px;
}

div.box-3 {
    font-weight: 350;
    font-size: small;
    padding-bottom: 23px;
}

.box {
    padding: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* display: grid;
grid-template-columns: 1fr 1fr 1fr; */
    width: 18vw;
    background: #e7e7e770;
    /* background: transparent; */

}

.grid .btn {
    background-color: #5cb85c;
    /* font-size: 10px; */
    padding: 10px;
}

.whgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

@media screen and (max-width:980px) {
    .whgrid {
        display: grid;
        grid-template-columns: 1fr;
        /* background-color: antiquewhite; */
    }
}